body {
    background-color: antiquewhite;
}

#container {
    background-color: lightcoral;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.deck-builder {
    display: grid;
    float: left;
    background-color: black;
    /* margin-top: 50px; */
    width: fit-content;
    height: fit-content;
    padding: 2.5px;   
}

#main-deck{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#extra-deck {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: purple;
}

#side-deck {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: orange;
}

.deck-builder-img {
    margin: 2.5px;
    width: 80px;
}

.deck-builder-img:hover {
    filter:brightness(150%);
}

.extra-deck-img {
    margin: 1px;
    width: 54.5px;
}

.extra-deck-img:hover {
    filter:brightness(150%);
}

#card-viewer {
    float: left; 
    background-color: gray;
    padding-left: 10px;
    /* margin-top: 50px; */
    width: 500px;
    text-align: left;
}
#card-viewer-img {
    display: block;
    align-self: center;
    margin: auto;
    width: 300px;
}

@font-face {
    font-family: title-text;
    src: url("./assets/fonts/Yu-Gi-Oh! Matrix Regular Small Caps 1.ttf");
}
@font-face {
    font-family: effect-text;
    src: url("./assets/fonts/Yu-Gi-Oh!\ Matrix\ Book.ttf");
}
@font-face {
    font-family: stats-text;
    src: url("./assets/fonts/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 2.ttf");
}

@font-face {
    font-family: properties-text;
    src: url("./assets/fonts/Yu-Gi-Oh!\ ITC\ Stone\ Serif\ Small\ Caps\ Bold.ttf");
}

.card-name-text {
    font-family: title-text;
}

.card-stats-text {
    font-family: stats-text;
}

.effect-text {
    font-family: effect-text;
}

.properties-text {
    font-family: properties-text;
}
