@font-face {

    font-family: title-text;
    src: url("./assets/fonts/Yu-Gi-Oh! Matrix Regular Small Caps 1.ttf");
}
@font-face {
    font-family: effect-text;
    src: url("./assets/fonts/Yu-Gi-Oh!\ Matrix\ Book.ttf");
}
@font-face {
    font-family: stats-text;
    src: url("./assets/fonts/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 2.ttf");
}
@font-face {
    font-family: properties-text;
    src: url("./assets/fonts/Yu-Gi-Oh!\ ITC\ Stone\ Serif\ Small\ Caps\ Bold.ttf");
}

.card-name-text {
    font-family: title-text;
}

body {
    background-color: white;
    margin: 0;
    width: 100vw; /*full view window*/
    height: 100vh; /*full view window*/
}

.banner {
    background-color: antiquewhite;
    width: 100vw; /*full width of window*/
    height: 6vh; /*6% of view window height*/
    display: flex; /*make flexbox, goated shit*/
    flex-direction: row; /*children will be in a row*/
    justify-content: space-between; /*evenly size children within*/
}

.banner > .deck-choice {
    background-color: red;
    display: flex;
    height: 100%;
    flex: 1 0 0;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.banner > .title {
    background-color: blue;
    display: flex;
    height: 100%;
    flex: 1 0 0;
    align-items:center;
    justify-content: center;
}

.banner > .deck-value {
    background-color: green;
    display: flex;
    height: 100%;
    flex: 1 0 0;
    justify-content: flex-end;
    flex-direction: column;
    padding-right: 10px;
}

.deck-value > #current-value {
    background-color: rgb(11, 44, 11);
    height: 50%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items:center;
}

.deck-value > #owned-value {
    background-color: rgb(62, 143, 62);
    height: 50%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items:center;
}

.application {
    background-color: rgb(201, 169, 121);
    width: 100vw; /*full width of window*/
    height: 94vh; /*Remaining 94% of view window height*/
    display: flex; /*make flexbox, goated shit*/
    flex-direction: row; /*children will be in a row*/
    justify-content: flex-start; /*children within will start from left*/
}

.application > .deck-builder {
    background-color: darkkhaki;
    height: auto; /*100% of application window*/
    display: flex; /*make flexbox, goated shit*/
    flex-direction: column;
    padding: 0.25vh;
    flex: 4 0 0; /*to stop other shit from growing, we gotta stop everything from shrinking*/
}

.deck-builder > .main-deck {
    background-color: darkorange;
    width: 100%;
    height: 63vh;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.main-deck > .main-deck-banner {
    background-color: gray;
    width: 100%;
    height: 1.5vw;
    display: flex;
    flex-direction: row;
}

.main-deck-banner > .main-deck-tag{
    background-color: aqua;
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

.main-deck-banner > .main-deck-sort{
    background-color: aquamarine;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
}

.main-deck-banner > .main-deck-details {
    background-color: azure;
    height: 100%;
    flex-grow: 1;
    justify-content: flex-end;
}

.main-deck > .main-deck-builder {
    background-color: darkred;
    width: auto;
    height: 33.5vw;
    display: grid;
    padding: 0.25vh;
    grid-template-columns: repeat(10,1fr); /*you will adjust these to scale with deck size*/
    grid-template-rows: repeat(4,1fr); /*you will adjust these to scale with deck size*/
    column-gap: 0.25vh;
    row-gap: 0.25vh;
}

.main-deck-builder > .main-deck-spot {
    background-color: rgb(61, 5, 5);
} 

.deck-builder > .extra-deck {
    background-color: darkorange;
    width: 100%; /*100% of deckbuilder window*/
    height: 15vh;
    margin-top: 0.25vh;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.extra-deck > .extra-deck-banner {
    background-color: gray;
    width: 100%;
    height: 1.5vw;
    display: flex;
    flex-direction: row;
    /* border-style: solid;
    border-color: black;
    border-width: 5px; */
}

.extra-deck-banner > .extra-deck-tag{
    background-color: aqua;
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

.extra-deck-banner > .extra-deck-sort{
    background-color: aquamarine;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
}

.extra-deck-banner > .extra-deck-details {
    background-color: azure;
    height: 100%;
    flex-grow: 1;
    justify-content: flex-end;
}

.extra-deck > .extra-deck-builder {
    background-color: darkblue;
    width: auto;
    height: 6.5vw;
    display: grid;
    padding: 0.25vh;
    grid-template-columns: repeat(15,1fr); /*you will adjust these to scale with deck size*/
    column-gap: 0.25vh;
    row-gap: 0.25vh;
}

.extra-deck-builder > .extra-deck-spot {
    background-color: rgb(7, 7, 46);
}

.deck-builder > .side-deck {
    background-color: darkorange;
    width: 100%; /*100% of deckbuilder window*/
    height: 15vh;
    margin-top: 0.25vh;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.side-deck >.side-deck-banner {
    background-color: gray;
    width: 100%;
    height: 1.5vw;
    display: flex;
    flex-direction: row;
}

.side-deck-banner > .side-deck-tag{
    background-color: aqua;
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

.side-deck-banner > .side-deck-sort{
    background-color: aquamarine;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
}

.side-deck-banner > .side-deck-details {
    background-color: azure;
    height: 100%;
    flex-grow: 1;
    justify-content: flex-end;
}

.side-deck > .side-deck-builder {
    background-color: darkgreen;
    width: auto;
    height: 6.5vw;
    display: grid;
    padding: 0.25vh;
    grid-template-columns: repeat(15,1fr); /*you will adjust these to scale with deck size*/
    column-gap: 0.25vh;
    row-gap: 0.25vh;
}

.side-deck-builder > .side-deck-spot {
    background-color: rgb(5, 43, 5);
}

.application > .card-applications {
    background-color: black;
    flex: 3 0 0;
    height: auto;
    display: flex;
    padding: 0.25vh;
    flex-direction: column;
}

.card-applications > .card-viewer {
    background-color: gray;
    width: 100%;
    height: 25vw;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.card-viewer > #selected-card {
    background-color: aliceblue;
    height: 100%;
    display: flex;
    flex: 2 0 0;
    padding: 0.5vh;
}

#selected-card > #selected-card-img {
    display: flex;
    margin-bottom: auto;
    width: 100%; 
}

.card-viewer > #selected-card-details {
    background-color: rgb(101, 115, 128);
    height: 100%;
    display: flex;
    flex: 5 0 0;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    overflow: auto;
}

#selected-card-details > #select-card-name {
    font-family: title-text;
    font-size: 20;
}

#selected-card-details > #select-card-attributes {
    font-family: properties-text;
}

#selected-card-details > #select-card-stats {
    font-family: stats-text;
}

#selected-card-details > #select-card-effects {
    font-family: effect-text;
}

.card-applications > .card-searcher {
    background-color: gray;
    width: 100%;
    height: 50vh;
    margin-top: 0.25vh;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.card-searcher > #card-search-banner {
    background-color: aquamarine;
    flex-grow: 1;
}

.card-searcher > #card-search-results {
    background-color: rgb(127, 171, 209);
    flex-grow: 10;
    display: grid;
    grid-template-columns: repeat(2,1fr); /*you will adjust these to scale with deck size*/
    grid-template-rows: repeat(5,1fr); /*you will adjust these to scale with deck size*/
    column-gap: 0.25vh;
    row-gap: 0.25vh;
}

#card-search-spot {
    background-color: blueviolet;
}


